.botonComprar {
    @include botones;
  }

  .botonAgregarAlCarrito {
    @include botones;
  }

.botonContacto {
  @include botones;
  margin-left: 400px;
  width: 100px;
  font-size: 20px;
}

.botonComprarGrande {
  @include botones;
  width: 25px 20px;
  font-size: large;
  text-align: center;
  margin-left: 400px;
}