.botonComprar {
    background-color: black;
    color: azure;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    display: inline;
  
    &:hover {
      background-color: rgba(232, 116, 14, 0.898);
      color: #272727;
    }
  }

  .botonAgregarAlCarrito {
    
    margin-left: 22px;
    @extend .botonComprar;
  
  }