/* carousel */

.tamLogo {
    width: 50%;
    border: black solid 2px;
    border-radius: 4px;
  }
  
  
  

  .carouselRiñonera {
    border: black solid 2px;
    border-radius: 2px;
  }

  .colorLineasCarousel {
    color: red;
  }