/* contacto */

.bordeContacto {

    text-align: center;
    border: solid 1px black;
    background-color: white;
    border-radius: 3px;
    font-size: 20px;
    
}

.h2Contacto {
    margin: 50px;
    border: solid 1px black;
    border-radius: 3px;
    background-color: white;
    width: 500px;
    
}

.formContacto {
    margin: 200px !important;
}

.botonContacto {
    background-color: #272727;
}
