/* footer */

footer {
  border-top: 2px solid black;
  background-color: #272727;
  margin-top: 100px;
}


.colorParrafoFooter {
  color: white !important;
  margin-bottom: 0px;
}

.logoFooter {
  width: 180px;
  float: left;
  margin-left: 30px;
}

.logoFooterderecha {
  width: 180px;
  float: right;
  margin-right: 30px;
}