/* footer */

footer {
  border-top: 2px solid black;
  background-color: #272727;

}


.colorParrafoFooter {
  color: white !important;
  margin-bottom: 0px;
}

.logoFooter {
  width: 180px;
  float: left;
}

