h1, h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
  }

  h3 {
    text-align: center;
    margin: 50px;
  }
  
  p {
    margin: 20px;
  }
  
