* {
    margin: 0;
    padding: 0;
}

/* Body */

@import "fuente";
@import "body";
@import "header";
@import "h1-al-h5";
@import "carrousel-marcas";
@import "footer";
@import "variables";
@import "riñonera-owen";
@import "bolsos";
@import "carrito";
@import "contacto";
@import "botones";

.whats {
    width: 80px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}